h1{
	text-decoration: underline
}

div#page{
	width: auto;
	height: auto;
}

div#sidebar{
	padding: 5px;
	float: left;
	width: 140px;
	height: auto;
	border: solid black;
}

p.highShift{
	margin-top: 10px;
}

p.lowShift{
	margin-top: 10px;
}

div.shapes{
	float: left;
	width: 65px;
	height: auto;
}

div#tools{
	float: left;
	width: 70px;
	height: auto;
}

div#wall_sel{
	width: 50px;
	height: 50px;	
}

div#container{
	float: left;
	width: 510px;
	height: 102px;
	background-color: green;
	line-height: 0;
	border: solid black;
	border-width: 0 1px 1px 0;
}

div.tile{
	float: left;
	width: 50px;
	height: 50px;
	display:inline-block;
	border: solid black;
	border-width: 1px 0 0 1px;
}

div#new{
	margin-top: 45px;
    margin-left: 90px;
	margin-left: center;
    font-size:  25px;
    font-family: 'Share Tech Mono', '';
}

div.empty{
	background-color: #2323bc;
}

div.pStart{
	background-color: coral;
}

div.goalBoss{
	background-color: #e3e326;
}

div.eSpawner{
	background-color: #0d9a0d;
}

div.modifier{
	background-color: #12dd75;
}

div.spawnArea{
	background-color: #cc36cc !important;
}

div.regCntr{
	background-color: #a00000;
}

div.tile:hover {
    opacity: 0.6;
}

div#title{
	float left;
	width: 600px;
    font-family: 'Share Tech Mono', '';
}

div#spawnEdit{
	width: auto;
	height: 150px;
	border: solid black;
}

.test{
	background-color: black;
}

.spawnTxt{
	display: none;
	margin-top: 10px;
}

.centerTxt{
	display: none;
	margin-top: 20px;
}

#spawnTable1{
	float: left;
}

#spawnTable2{
	float: left;
}

#spawnTools{
	float: left;
}

div.entity{
	width: 50px;
	height: 50px;
	border: grey solid;
}

div.wall{
	background-image:url("../img/wall_square.png");
	background-size: contain;
}

div#butCont{}
body {
    background-color: #c15f6d;
}
