h1{
	text-decoration: underline
}

div#page{
	width: auto;
	height: auto;
}

div#sidebar{
	padding: 5px;
	float: left;
	width: 140px;
	height: auto;
	border: solid black;
}

div#shapes{
	float: left;
	width: 70px;
	height: auto;
}

div#tools{
	float: left;
	width: 70px;
	height: auto;
}

div#wall_sel{
	width: 50px;
	height: 50px;	
}

div#container{
	float: left;
	width: 510px;
	height: 102px;
	background-color: green;
	line-height: 0;
	border: solid black;
	border-width: 0 1px 1px 0;
}

div.tile{
	float: left;
	width: 50px;
	height: 50px;
	display:inline-block;
	border: solid black;
	border-width: 1px 0 0 1px;
}

div#new{
	margin-top: 10px;
	margin-left: center;
}

div.empty{
	background-color: blue;
}

div.pStart{
	background-color: coral;
}

div.goalBoss{
	background-color: yellow;
}

div.eSpawner{
	background-color: green;
}

div.modifier{
	background-color: SpringGreen;
}

div.spawnArea{
	background-image:url("../img/area_square.png");
	background-size: contain;
}

div.tile:hover {
    opacity: 0.6;
}

div#title{
	float left;
	width: 400px;
}

div#spawnEdit{
	display: block;
	width: auto;
	height: auto;
	border: solid black;
}

.test{
	background-color: black;
}

#spawnTable1{
	float: left;
}

#spawnTable2{
	float: left;
}

#spawnTools{
	float: left;
}

div.entity{
	width: 50px;
	height: 50px;
	border: grey solid;
}

div.wall{
	background-image:url("../img/wall_square.png");
	background-size: contain;
}

div#butCont{}